@font-face {
  font-family: 'RobotoLight';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}
html, body{
  height: 100%;
  background-color:#eee;
  font-family: "RobotoLight", "lucida grande", tahoma, verdana, arial, sans-serif;
}
html, body, div, input, textarea {
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
textarea{
  vertical-align: top;
}
#main {
  width: 100%;
  height: 100%;
}
.timelineview {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.timelineprimary {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.timelinecanvas {
  width: 100%;
  height: 100%;
}
.selector {
  background-color: #f0f;
  opacity: .5;
  position: absolute;
}
.abscardwrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
}
.cardwrapper {
  display: flex;
  flex-wrap: wrap;
}
.maincontrols {
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.buttoncontrols {
  display: flex;
  flex: 1;
  justify-content: left;
}
.statetext {
  flex: 1;
  padding: 3px;
}
.controlbutton {
  border: 1px solid #888;
  background-color: transparent;
  color: #444;
  border-radius: 3px;
  padding: 10px;
  margin: 0px 10px;
}
.controlbutton:hover {
  background-color: #aaa;
  cursor: pointer;
}
.toggleon, .toggleoff {
  width: 20px;
  height: 20px;
  align-self: center;
  border: 1px solid #757575;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.toggleon:hover, .toggleoff:hover {
  background-color: #eee;
  cursor: pointer;
}
.toggleon {
  color: inherit;
}
.scripttext, .displayoutput {
  width: 100%;
  height: 100%;
  resize: none;
  min-height: 100px;
  padding: 5px;
  flex: 1;
}
.displayview {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.displayinput {
  margin-bottom: 10px;
  height: 30px;
  padding: 3px;
}
.displayoutput {
  flex: 1;
}
.cardview, .activecardview, .dropcardview, .carderror {
  display: inline-flex;
  flex-direction: column;
  min-width: 400px;
  box-shadow: 0px 0px 2px #aaa;
  vertical-align: top;

  border-left: 2px solid #999;
  border-bottom: 2px solid #999;

  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.cardheader {
  padding: 5px;
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-between;
  /*border: 1px solid #aaa;*/
}
.cardordinal {
  display: inline-flex;
  padding: 0px 5px;
  align-items: center;
}
.cardselect, .requestverb, .requestmime {
  background: transparent;
  color: inherit;
  border: 1px solid #757575;
}
.cardselect:hover, .requestverb:hover, .requestmime:hover {
  background-color: #ddd;
  cursor: pointer;
}
.cardtitle {
  padding: 0px 5px;
  border: 1px solid #ccc;
}
.cardselect {
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cardcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
  /*border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;*/
}
.cardfooter {
  position: absolute;
  bottom: 1px;
  left: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.cardorderer {
  height: 10px;
  width: 10px;
  border: 1px solid #999;
  border-radius: 50%;
  background-color: #ccc;
}
.cardclose {
  background-color: #fff;
  color: #f88;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 5px;
  border-radius: 3px;
  width: 25px;
}
.cardclose:hover {
  color: #f00;
  background-color: #eee;
  cursor: pointer;
}
.cardminimize {
  background-color: #fff;
  color: #333;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;
  width: 25px;
}
.cardminimize:hover {
  color: #000;
  background-color: #eee;
  cursor: pointer;
}
.cardconfigdiv, .carddisplaydiv {
  display: flex;
}
.dropcardview {
  /*border: 5px dashed #afa;*/
  box-shadow: inset 0 0 10px #0f0;
  background-color: transparent;
}
.dropcardview *{
  visibility:hidden;
}
.carderror {
  background-color: #fcc;
}
.cardview {
  background-color: #fafafa;
}
.errorview {
  background-color: #fee;
  height: 200px;
  overflow: auto;
}
.errorcontent {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  overflow: auto;
}
.activecardview {
  background-color: #afa;
}
.statelink {
  text-decoration: none;
  color: #aaa;
  border-bottom: 1px solid #aaa;
}
.statelink:hover {
  color: #00a8ff;
  cursor: pointer;
}
.requestview {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.requestheader {
  flex: 0 0 30px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.requestbody {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.requestverb {

}
.requesturl {
  flex: 1;
  margin: 0px 5px;
  padding: 3px;
}
.requestmime {

}
.requesttitle {

}
.configview {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.configbody {

}
.configline {
  height: 30px;
  margin-top: 2px;
}
.configkey, .configval{
  padding: 3px;
}
.configkey {
  margin-right: 5px;
}
.configval {
  margin-right: 5px;
}
.configdelete {
  border: 1px solid #faa;
  background-color: transparent;
  color: #faa;
  border-radius: 3px;
}
.configdelete:hover {
  background-color: #f88;
  color: #fff;
  cursor: pointer;
}
.configadd {
  border: 1px solid #eee;
  padding: 5px;
  background-color: transparent;
  width: 100%;
  color: #666;
  border-radius: 3px;
}
.configadd:hover {
  background-color: #080;
  color: #fff;
  cursor: pointer;
}
.configcontrolview {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex: 0 0 30px;
  justify-content: flex-end;
}
.scriptview {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.scripttext {

}